*{
    padding: 0;
    margin: 0;
    border: 0;
}

*,*::before,*::after{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,button,textarea{font-family: inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding: 0;border: 0;}
a,a:visited{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3.h4,h5,h6{font-size: inherit;font-weight: 400;}

/*------------------------------*/

body{
    height: 5000px;
    font-family: monospace;
    background: url('../img/6_ASFDBz2R8.jpg') 0 0/cover no-repeat fixed;
    overflow: scroll;
}

.block1{
    background: rgba(185, 178, 133, 0.3);
    background: url('../img/dao-trong-le-poppy-lvl1-final.jpg') top center/cover  no-repeat fixed;
    border-radius: 65px;
    height: 700px;
    min-width: 1100px;
    padding: 30px 0px 0px 0px;
    margin: 20px 30px  0px  30px;
    box-shadow: 0 0 10px black;
}
.block2{
    margin: 0px 500px 30px 30px;
    height: 200px;
    min-width: 500px;
    max-width: 500px;
    border-radius: 15px;
    box-shadow: 0 0 10px black;
    background: rgba(35, 148, 223, 0.3);
}
.block3{
    background: rgba(185, 178, 133, 0.3);
    background: url('../img/kindred.jpg') top center/cover  no-repeat fixed;
    border-radius: 65px;
    height: 700px;
    min-width: 1100px;
    padding: 30px 0px 0px 0px;
    margin: 20px 30px  0px  30px;
    box-shadow: 0 0 10px black;
}
h2{
    padding: 20px;
    text-align: center;
    font-size: 40px;
    color: rgb(248, 210, 160);
    font-weight: bold;
    text-decoration: overline;
    background-color: rgba(148, 133, 115, 0.6);
    border-radius: 15px;
}
p{
    padding: 0px 0px 0px 20px;
    text-align: left;
    font-size: 25px;
    color:rgb(233, 233, 194);
    background-color: rgba(112, 64, 19, 0.5);
}
span{
    font-size: 30px;
    text-transform: uppercase;
    color:rgb(245, 245, 223);
}
img{
    width: 100%;
}